@model Vm.Pm.App.ViewModels.CollaboratorViewModel

<p supress-by-claim-name="Phone" supress-by-claim-value="Add">
	<a asp-action="NewPhone" asp-route-id="@Model.Id" class="btn btn-info" data-modal="">Novo Phone</a>
</p>

<partial name="~/Views/Shared/Phone/_PhoneList.cshtml" model="@Model.Phones" />
