@model Vm.Pm.App.ViewModels.CompanyViewModel

	<p supress-by-claim-name="Contact" supress-by-claim-value="Add">
		<a class="btn btn-info" asp-controller="Contacts" asp-action="AddContactByList" asp-route-id="@Model.Id">Novo Contato</a>
	</p>

	<partial name="~/Views/Shared/Contact/_ContactList.cshtml" model="@Model.Contacts" />
