@model Vm.Pm.App.ViewModels.PhoneViewModel

<div class="form-group">
	<label asp-for="Number" class="control-label"></label>
	<input asp-for="Number" class="form-control" />
	<span asp-validation-for="Number" class="text-danger"></span>
</div>
<div class="form-group">
	<label asp-for="TypePhone" class="control-label"></label>
	<input asp-for="TypePhone" class="form-control" asp-items="@(new SelectList(Model.TypePhones, "Id", "Description"))"/>
	<span asp-validation-for="TypePhone" class="text-danger"></span>
</div>
<div class="form-group">
	<label asp-for="CompanyId" class="control-label"></label>
	<input asp-for="CompanyId" class="form-control" />
	<span asp-validation-for="CompanyId" class="text-danger"></span>
</div>
<div class="form-group">
	<label asp-for="ContactId" class="control-label"></label>
	<input asp-for="ContactId" class="form-control" />
	<span asp-validation-for="ContactId" class="text-danger"></span>
</div>
