@model Vm.Pm.App.ViewModels.PhoneViewModel

@{
	ViewData["Title"] = "Alteração de Phone";
}

<div class="modal-header">
	<h4 class="modal-title">@ViewData["Title"]</h4>
	<button type="button" class="close" data-dismiss="modal">
		<span aria-hidden="true">×</span><span class="sr-only">Fechar</span>
	</button>
</div>

<form asp-action="SaveEditPhone">

	<vc:Summary></vc:Summary>

	<div class="modal-body">

		<input type="hidden" asp-for="ContactId" />
		<input type="hidden" asp-for="CollaboratorId" />
		<input type="hidden" asp-for="CustomerId" />
		<input type="hidden" asp-for="Id" />

		<partial name="~/Views/Shared/Phone/_Phone.cshtml" />

		<div class="modal-footer">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Atualizar Phone" class="btn btn-success" />
				<input type="button" class="btn btn-info" value="Fechar" data-dismiss="modal" />
			</div>
		</div>
	</div>
</form>